//! **************************************************************************
// Written by: Map JTRS.J32 on Thu Jun 25 20:03:03 2009
//! **************************************************************************

SCHEMATIC START;
COMP "MictorObenLinks_oddPOD<10>" LOCATE = SITE "A5" LEVEL 1;
COMP "MictorObenLinks_oddPOD<11>" LOCATE = SITE "C9" LEVEL 1;
COMP "MictorObenLinks_oddPOD<12>" LOCATE = SITE "B6" LEVEL 1;
COMP "MictorObenLinks_oddPOD<13>" LOCATE = SITE "E8" LEVEL 1;
COMP "MictorObenLinks_oddPOD<14>" LOCATE = SITE "A6" LEVEL 1;
COMP "MictorObenLinks_oddPOD<15>" LOCATE = SITE "D8" LEVEL 1;
COMP "clk" LOCATE = SITE "AK16" LEVEL 1;
COMP "MictorOben_oddPOD<0>" LOCATE = SITE "F13" LEVEL 1;
COMP "MictorOben_oddPOD<1>" LOCATE = SITE "F14" LEVEL 1;
COMP "MictorOben_oddPOD<2>" LOCATE = SITE "E13" LEVEL 1;
COMP "MictorOben_oddPOD<3>" LOCATE = SITE "D12" LEVEL 1;
COMP "MictorOben_oddPOD<4>" LOCATE = SITE "D13" LEVEL 1;
COMP "MictorOben_oddPOD<5>" LOCATE = SITE "C12" LEVEL 1;
COMP "MictorOben_oddPOD<6>" LOCATE = SITE "B12" LEVEL 1;
COMP "MictorOben_oddPOD<7>" LOCATE = SITE "A12" LEVEL 1;
COMP "MictorOben_oddPOD<8>" LOCATE = SITE "C13" LEVEL 1;
COMP "MictorOben_oddPOD<9>" LOCATE = SITE "B13" LEVEL 1;
COMP "MictorObenLinks_oddPOD<0>" LOCATE = SITE "C2" LEVEL 1;
COMP "MictorObenLinks_oddPOD<1>" LOCATE = SITE "D6" LEVEL 1;
COMP "MictorObenLinks_oddPOD<2>" LOCATE = SITE "B3" LEVEL 1;
COMP "MictorObenLinks_oddPOD<3>" LOCATE = SITE "C6" LEVEL 1;
COMP "MictorObenLinks_oddPOD<4>" LOCATE = SITE "B4" LEVEL 1;
COMP "MictorObenLinks_oddPOD<5>" LOCATE = SITE "E7" LEVEL 1;
COMP "MictorObenLinks_oddPOD<6>" LOCATE = SITE "A4" LEVEL 1;
COMP "MictorObenLinks_oddPOD<7>" LOCATE = SITE "F8" LEVEL 1;
COMP "MictorObenLinks_oddPOD<8>" LOCATE = SITE "B5" LEVEL 1;
COMP "MictorObenLinks_oddPOD<9>" LOCATE = SITE "C8" LEVEL 1;
COMP "BHE_a1" LOCATE = SITE "AF8" LEVEL 1;
COMP "serial0_in" LOCATE = SITE "AH12" LEVEL 1;
COMP "BHE_b1" LOCATE = SITE "L1" LEVEL 1;
COMP "serial1_in" LOCATE = SITE "AJ12" LEVEL 1;
COMP "MictorObenLinks_evenPOD<0>" LOCATE = SITE "G11" LEVEL 1;
COMP "MictorObenLinks_evenPOD<1>" LOCATE = SITE "H10" LEVEL 1;
COMP "MictorObenLinks_evenPOD<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "MictorObenLinks_evenPOD<3>" LOCATE = SITE "J11" LEVEL 1;
COMP "MictorObenLinks_evenPOD<4>" LOCATE = SITE "E10" LEVEL 1;
COMP "MictorObenLinks_evenPOD<5>" LOCATE = SITE "H11" LEVEL 1;
COMP "MictorObenLinks_evenPOD<6>" LOCATE = SITE "B10" LEVEL 1;
COMP "MictorOben_oddPOD<10>" LOCATE = SITE "E14" LEVEL 1;
COMP "MictorObenLinks_evenPOD<7>" LOCATE = SITE "G10" LEVEL 1;
COMP "MictorOben_oddPOD<11>" LOCATE = SITE "B14" LEVEL 1;
COMP "MictorObenLinks_evenPOD<8>" LOCATE = SITE "B9" LEVEL 1;
COMP "MictorOben_oddPOD<12>" LOCATE = SITE "C14" LEVEL 1;
COMP "MictorObenLinks_evenPOD<9>" LOCATE = SITE "F10" LEVEL 1;
COMP "WE_a1" LOCATE = SITE "AE8" LEVEL 1;
COMP "MictorOben_oddPOD<13>" LOCATE = SITE "C15" LEVEL 1;
COMP "MictorOben_oddPOD<14>" LOCATE = SITE "C16" LEVEL 1;
COMP "MictorOben_oddPOD<15>" LOCATE = SITE "D16" LEVEL 1;
COMP "WE_b1" LOCATE = SITE "N2" LEVEL 1;
COMP "Ad<0>" LOCATE = SITE "AE2" LEVEL 1;
COMP "Ad<1>" LOCATE = SITE "AE5" LEVEL 1;
COMP "Ad<2>" LOCATE = SITE "AD8" LEVEL 1;
COMP "Ad<3>" LOCATE = SITE "AE7" LEVEL 1;
COMP "Ad<4>" LOCATE = SITE "AD3" LEVEL 1;
COMP "Ad<5>" LOCATE = SITE "AE9" LEVEL 1;
COMP "Ad<6>" LOCATE = SITE "AD2" LEVEL 1;
COMP "Ad<7>" LOCATE = SITE "AD4" LEVEL 1;
COMP "Ad<8>" LOCATE = SITE "AD6" LEVEL 1;
COMP "Ad<9>" LOCATE = SITE "AD9" LEVEL 1;
COMP "Ai<0>" LOCATE = SITE "L9" LEVEL 1;
COMP "Ai<1>" LOCATE = SITE "L6" LEVEL 1;
COMP "Ai<2>" LOCATE = SITE "L4" LEVEL 1;
COMP "Ai<3>" LOCATE = SITE "L2" LEVEL 1;
COMP "Ai<4>" LOCATE = SITE "K9" LEVEL 1;
COMP "Ai<5>" LOCATE = SITE "L3" LEVEL 1;
COMP "Ai<6>" LOCATE = SITE "K7" LEVEL 1;
COMP "Ai<7>" LOCATE = SITE "L8" LEVEL 1;
COMP "Ai<8>" LOCATE = SITE "K5" LEVEL 1;
COMP "Ai<9>" LOCATE = SITE "K2" LEVEL 1;
COMP "pca9564_ce" LOCATE = SITE "AM14" LEVEL 1;
COMP "pca9564_rd" LOCATE = SITE "AM16" LEVEL 1;
COMP "dip<10>" LOCATE = SITE "AB32" LEVEL 1;
COMP "dip<11>" LOCATE = SITE "AC32" LEVEL 1;
COMP "dip<12>" LOCATE = SITE "AD32" LEVEL 1;
COMP "dip<20>" LOCATE = SITE "AD33" LEVEL 1;
COMP "dip<13>" LOCATE = SITE "AF32" LEVEL 1;
COMP "dip<21>" LOCATE = SITE "AE33" LEVEL 1;
COMP "dip<14>" LOCATE = SITE "AG32" LEVEL 1;
COMP "dip<22>" LOCATE = SITE "AF33" LEVEL 1;
COMP "dip<30>" LOCATE = SITE "AK34" LEVEL 1;
COMP "dip<15>" LOCATE = SITE "AH32" LEVEL 1;
COMP "dip<23>" LOCATE = SITE "AG33" LEVEL 1;
COMP "dip<31>" LOCATE = SITE "AL34" LEVEL 1;
COMP "pca9564_wr" LOCATE = SITE "AL12" LEVEL 1;
COMP "dip<16>" LOCATE = SITE "V33" LEVEL 1;
COMP "dip<24>" LOCATE = SITE "V34" LEVEL 1;
COMP "dip<17>" LOCATE = SITE "AA33" LEVEL 1;
COMP "dip<25>" LOCATE = SITE "AC34" LEVEL 1;
COMP "dip<18>" LOCATE = SITE "AB33" LEVEL 1;
COMP "dip<26>" LOCATE = SITE "AD34" LEVEL 1;
COMP "dip<19>" LOCATE = SITE "AC33" LEVEL 1;
COMP "dip<27>" LOCATE = SITE "AF34" LEVEL 1;
COMP "dip<28>" LOCATE = SITE "AH34" LEVEL 1;
COMP "dip<29>" LOCATE = SITE "AJ34" LEVEL 1;
COMP "OE_a2" LOCATE = SITE "AH3" LEVEL 1;
COMP "OE_b2" LOCATE = SITE "F3" LEVEL 1;
COMP "WE_a2" LOCATE = SITE "AJ2" LEVEL 1;
COMP "WE_b2" LOCATE = SITE "H3" LEVEL 1;
COMP "led<10>" LOCATE = SITE "H32" LEVEL 1;
COMP "led<11>" LOCATE = SITE "J32" LEVEL 1;
COMP "led<12>" LOCATE = SITE "L32" LEVEL 1;
COMP "led<20>" LOCATE = SITE "M33" LEVEL 1;
COMP "led<13>" LOCATE = SITE "M32" LEVEL 1;
COMP "led<21>" LOCATE = SITE "N33" LEVEL 1;
COMP "led<14>" LOCATE = SITE "N32" LEVEL 1;
COMP "led<22>" LOCATE = SITE "P33" LEVEL 1;
COMP "led<30>" LOCATE = SITE "M34" LEVEL 1;
COMP "led<15>" LOCATE = SITE "P32" LEVEL 1;
COMP "led<23>" LOCATE = SITE "U33" LEVEL 1;
COMP "led<31>" LOCATE = SITE "U34" LEVEL 1;
COMP "led<16>" LOCATE = SITE "H33" LEVEL 1;
COMP "led<24>" LOCATE = SITE "D34" LEVEL 1;
COMP "led<17>" LOCATE = SITE "J33" LEVEL 1;
COMP "led<25>" LOCATE = SITE "E34" LEVEL 1;
COMP "led<18>" LOCATE = SITE "K33" LEVEL 1;
COMP "led<26>" LOCATE = SITE "F34" LEVEL 1;
COMP "led<19>" LOCATE = SITE "L33" LEVEL 1;
COMP "led<27>" LOCATE = SITE "G34" LEVEL 1;
COMP "led<28>" LOCATE = SITE "J34" LEVEL 1;
COMP "led<29>" LOCATE = SITE "L34" LEVEL 1;
COMP "MictorUnten_oddPOD<0>" LOCATE = SITE "AF11" LEVEL 1;
COMP "MictorUnten_oddPOD<1>" LOCATE = SITE "AE11" LEVEL 1;
COMP "MictorUnten_oddPOD<2>" LOCATE = SITE "AJ11" LEVEL 1;
COMP "MictorUnten_oddPOD<3>" LOCATE = SITE "AG11" LEVEL 1;
COMP "MictorUnten_oddPOD<4>" LOCATE = SITE "AK11" LEVEL 1;
COMP "MictorUnten_oddPOD<5>" LOCATE = SITE "AF10" LEVEL 1;
COMP "MictorUnten_oddPOD<6>" LOCATE = SITE "AK10" LEVEL 1;
COMP "MictorUnten_oddPOD<7>" LOCATE = SITE "AJ10" LEVEL 1;
COMP "MictorUnten_oddPOD<8>" LOCATE = SITE "AL10" LEVEL 1;
COMP "MictorUnten_oddPOD<9>" LOCATE = SITE "AM9" LEVEL 1;
COMP "pca9564_address<0>" LOCATE = SITE "AM12" LEVEL 1;
COMP "pca9564_address<1>" LOCATE = SITE "AN14" LEVEL 1;
COMP "reset" LOCATE = SITE "AL5" LEVEL 1;
COMP "MictorOben_evenPOD<0>" LOCATE = SITE "F23" LEVEL 1;
COMP "MictorOben_evenPOD<1>" LOCATE = SITE "F22" LEVEL 1;
COMP "MictorOben_evenPOD<2>" LOCATE = SITE "E22" LEVEL 1;
COMP "MictorOben_evenPOD<3>" LOCATE = SITE "D23" LEVEL 1;
COMP "MictorOben_evenPOD<4>" LOCATE = SITE "D22" LEVEL 1;
COMP "MictorOben_evenPOD<5>" LOCATE = SITE "C23" LEVEL 1;
COMP "MictorOben_evenPOD<6>" LOCATE = SITE "B23" LEVEL 1;
COMP "MictorOben_evenPOD<7>" LOCATE = SITE "A23" LEVEL 1;
COMP "MictorOben_evenPOD<8>" LOCATE = SITE "C22" LEVEL 1;
COMP "MictorOben_evenPOD<9>" LOCATE = SITE "B22" LEVEL 1;
COMP "MictorObenLinks_evenPOD<10>" LOCATE = SITE "A9" LEVEL 1;
COMP "MictorObenLinks_evenPOD<11>" LOCATE = SITE "F9" LEVEL 1;
COMP "MictorObenLinks_evenPOD<12>" LOCATE = SITE "B8" LEVEL 1;
COMP "MictorObenLinks_evenPOD<13>" LOCATE = SITE "D9" LEVEL 1;
COMP "MictorObenLinks_evenPOD<14>" LOCATE = SITE "C7" LEVEL 1;
COMP "MictorObenLinks_evenPOD<15>" LOCATE = SITE "E9" LEVEL 1;
COMP "serial0_out" LOCATE = SITE "AH13" LEVEL 1;
COMP "serial1_out" LOCATE = SITE "AJ13" LEVEL 1;
COMP "DP1<0>" LOCATE = SITE "AF7" LEVEL 1;
COMP "DP1<1>" LOCATE = SITE "AE6" LEVEL 1;
COMP "DP1<2>" LOCATE = SITE "AE4" LEVEL 1;
COMP "DP1<3>" LOCATE = SITE "AF1" LEVEL 1;
COMP "DP2<0>" LOCATE = SITE "AK1" LEVEL 1;
COMP "DP1<4>" LOCATE = SITE "AC8" LEVEL 1;
COMP "DP2<1>" LOCATE = SITE "AK4" LEVEL 1;
COMP "DP1<5>" LOCATE = SITE "AC6" LEVEL 1;
COMP "DP2<2>" LOCATE = SITE "AK3" LEVEL 1;
COMP "DP1<6>" LOCATE = SITE "AC3" LEVEL 1;
COMP "DP2<3>" LOCATE = SITE "AK2" LEVEL 1;
COMP "DP1<7>" LOCATE = SITE "AC9" LEVEL 1;
COMP "DQ1<0>" LOCATE = SITE "M9" LEVEL 1;
COMP "DP2<4>" LOCATE = SITE "AH5" LEVEL 1;
COMP "DP1<8>" LOCATE = SITE "AD7" LEVEL 1;
COMP "DQ1<1>" LOCATE = SITE "M3" LEVEL 1;
COMP "DP2<5>" LOCATE = SITE "AH2" LEVEL 1;
COMP "DP1<9>" LOCATE = SITE "AB2" LEVEL 1;
COMP "DQ1<2>" LOCATE = SITE "M6" LEVEL 1;
COMP "DP2<6>" LOCATE = SITE "AJ5" LEVEL 1;
COMP "DQ1<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "DP2<7>" LOCATE = SITE "AH1" LEVEL 1;
COMP "DQ2<0>" LOCATE = SITE "G1" LEVEL 1;
COMP "DQ1<4>" LOCATE = SITE "J1" LEVEL 1;
COMP "DP2<8>" LOCATE = SITE "AJ1" LEVEL 1;
COMP "DQ2<1>" LOCATE = SITE "F5" LEVEL 1;
COMP "DQ1<5>" LOCATE = SITE "K4" LEVEL 1;
COMP "DP2<9>" LOCATE = SITE "AG5" LEVEL 1;
COMP "DQ2<2>" LOCATE = SITE "G2" LEVEL 1;
COMP "DQ1<6>" LOCATE = SITE "K6" LEVEL 1;
COMP "DQ2<3>" LOCATE = SITE "G5" LEVEL 1;
COMP "DQ1<7>" LOCATE = SITE "J7" LEVEL 1;
COMP "DQ2<4>" LOCATE = SITE "E2" LEVEL 1;
COMP "DQ1<8>" LOCATE = SITE "L5" LEVEL 1;
COMP "DQ2<5>" LOCATE = SITE "E3" LEVEL 1;
COMP "DQ1<9>" LOCATE = SITE "J3" LEVEL 1;
COMP "DQ2<6>" LOCATE = SITE "E4" LEVEL 1;
COMP "DQ2<7>" LOCATE = SITE "E1" LEVEL 1;
COMP "DQ2<8>" LOCATE = SITE "F4" LEVEL 1;
COMP "DQ2<9>" LOCATE = SITE "D3" LEVEL 1;
COMP "BHE_a2" LOCATE = SITE "AJ3" LEVEL 1;
COMP "BHE_b2" LOCATE = SITE "G3" LEVEL 1;
COMP "BLE_a1" LOCATE = SITE "AB1" LEVEL 1;
COMP "BLE_a2" LOCATE = SITE "AG3" LEVEL 1;
COMP "BLE_b1" LOCATE = SITE "K8" LEVEL 1;
COMP "BLE_b2" LOCATE = SITE "F2" LEVEL 1;
COMP "Ad<10>" LOCATE = SITE "AC1" LEVEL 1;
COMP "Ad<11>" LOCATE = SITE "AC7" LEVEL 1;
COMP "Ad<12>" LOCATE = SITE "AB6" LEVEL 1;
COMP "Ad<13>" LOCATE = SITE "AC4" LEVEL 1;
COMP "Ad<14>" LOCATE = SITE "AC2" LEVEL 1;
COMP "Ad<15>" LOCATE = SITE "AF4" LEVEL 1;
COMP "Ad<16>" LOCATE = SITE "AF2" LEVEL 1;
COMP "Ad<17>" LOCATE = SITE "AG7" LEVEL 1;
COMP "Ad<18>" LOCATE = SITE "AF6" LEVEL 1;
COMP "Ad<19>" LOCATE = SITE "AF5" LEVEL 1;
COMP "Ai<10>" LOCATE = SITE "J5" LEVEL 1;
COMP "Ai<11>" LOCATE = SITE "J6" LEVEL 1;
COMP "Ai<12>" LOCATE = SITE "H7" LEVEL 1;
COMP "Ai<13>" LOCATE = SITE "J2" LEVEL 1;
COMP "Ai<14>" LOCATE = SITE "J4" LEVEL 1;
COMP "Ai<15>" LOCATE = SITE "M2" LEVEL 1;
COMP "Ai<16>" LOCATE = SITE "M4" LEVEL 1;
COMP "Ai<17>" LOCATE = SITE "N6" LEVEL 1;
COMP "Ai<18>" LOCATE = SITE "M7" LEVEL 1;
COMP "Ai<19>" LOCATE = SITE "M1" LEVEL 1;
COMP "pca9564_int" LOCATE = SITE "AN13" LEVEL 1;
COMP "MictorUnten_evenPOD<10>" LOCATE = SITE "AN5" LEVEL 1;
COMP "MictorUnten_evenPOD<11>" LOCATE = SITE "AK9" LEVEL 1;
COMP "MictorUnten_evenPOD<12>" LOCATE = SITE "AP5" LEVEL 1;
COMP "MictorUnten_evenPOD<13>" LOCATE = SITE "AN6" LEVEL 1;
COMP "MictorUnten_evenPOD<14>" LOCATE = SITE "AP6" LEVEL 1;
COMP "MictorUnten_evenPOD<15>" LOCATE = SITE "AL8" LEVEL 1;
COMP "MictorUnten_oddPOD<10>" LOCATE = SITE "AP9" LEVEL 1;
COMP "MictorUnten_oddPOD<11>" LOCATE = SITE "AH10" LEVEL 1;
COMP "MictorUnten_oddPOD<12>" LOCATE = SITE "AL9" LEVEL 1;
COMP "MictorUnten_oddPOD<13>" LOCATE = SITE "AJ9" LEVEL 1;
COMP "MictorUnten_oddPOD<14>" LOCATE = SITE "AN8" LEVEL 1;
COMP "MictorUnten_oddPOD<15>" LOCATE = SITE "AH9" LEVEL 1;
COMP "led_buildin<0>" LOCATE = SITE "AG10" LEVEL 1;
COMP "led_buildin<1>" LOCATE = SITE "AH11" LEVEL 1;
COMP "led_buildin<2>" LOCATE = SITE "AK7" LEVEL 1;
COMP "led_buildin<3>" LOCATE = SITE "AK8" LEVEL 1;
COMP "led_buildin<4>" LOCATE = SITE "AK28" LEVEL 1;
COMP "led_buildin<5>" LOCATE = SITE "AL29" LEVEL 1;
COMP "led_buildin<6>" LOCATE = SITE "AG24" LEVEL 1;
COMP "led_buildin<7>" LOCATE = SITE "AG25" LEVEL 1;
COMP "dip<0>" LOCATE = SITE "W31" LEVEL 1;
COMP "dip<1>" LOCATE = SITE "Y31" LEVEL 1;
COMP "dip<2>" LOCATE = SITE "AA31" LEVEL 1;
COMP "dip<3>" LOCATE = SITE "AB31" LEVEL 1;
COMP "dip<4>" LOCATE = SITE "AC31" LEVEL 1;
COMP "dip<5>" LOCATE = SITE "AD31" LEVEL 1;
COMP "dip<6>" LOCATE = SITE "AE31" LEVEL 1;
COMP "dip<7>" LOCATE = SITE "AF31" LEVEL 1;
COMP "dip<8>" LOCATE = SITE "V32" LEVEL 1;
COMP "dip<9>" LOCATE = SITE "W32" LEVEL 1;
COMP "clock_ip" LOCATE = SITE "AF18" LEVEL 1;
COMP "led<0>" LOCATE = SITE "H31" LEVEL 1;
COMP "led<1>" LOCATE = SITE "J31" LEVEL 1;
COMP "led<2>" LOCATE = SITE "K31" LEVEL 1;
COMP "led<3>" LOCATE = SITE "L31" LEVEL 1;
COMP "led<4>" LOCATE = SITE "M31" LEVEL 1;
COMP "led<5>" LOCATE = SITE "N31" LEVEL 1;
COMP "led<6>" LOCATE = SITE "P31" LEVEL 1;
COMP "led<7>" LOCATE = SITE "U31" LEVEL 1;
COMP "led<8>" LOCATE = SITE "F32" LEVEL 1;
COMP "led<9>" LOCATE = SITE "G32" LEVEL 1;
COMP "MictorOben_evenPOD<10>" LOCATE = SITE "D21" LEVEL 1;
COMP "MictorOben_evenPOD<11>" LOCATE = SITE "B21" LEVEL 1;
COMP "MictorOben_evenPOD<12>" LOCATE = SITE "D20" LEVEL 1;
COMP "MictorOben_evenPOD<13>" LOCATE = SITE "D19" LEVEL 1;
COMP "MictorOben_evenPOD<14>" LOCATE = SITE "C19" LEVEL 1;
COMP "MictorOben_evenPOD<15>" LOCATE = SITE "D18" LEVEL 1;
COMP "pca9564_data<0>" LOCATE = SITE "AP12" LEVEL 1;
COMP "pca9564_data<1>" LOCATE = SITE "AP13" LEVEL 1;
COMP "pca9564_data<2>" LOCATE = SITE "AP14" LEVEL 1;
COMP "pca9564_data<3>" LOCATE = SITE "AM13" LEVEL 1;
COMP "pca9564_data<4>" LOCATE = SITE "AM15" LEVEL 1;
COMP "pca9564_data<5>" LOCATE = SITE "AM17" LEVEL 1;
COMP "pca9564_data<6>" LOCATE = SITE "AL13" LEVEL 1;
COMP "pca9564_data<7>" LOCATE = SITE "AK14" LEVEL 1;
COMP "MictorUnten_evenPOD<0>" LOCATE = SITE "AL6" LEVEL 1;
COMP "MictorUnten_evenPOD<1>" LOCATE = SITE "AM6" LEVEL 1;
COMP "MictorUnten_evenPOD<2>" LOCATE = SITE "AM2" LEVEL 1;
COMP "MictorUnten_evenPOD<3>" LOCATE = SITE "AM7" LEVEL 1;
COMP "MictorUnten_evenPOD<4>" LOCATE = SITE "AN3" LEVEL 1;
COMP "MictorUnten_evenPOD<5>" LOCATE = SITE "AG9" LEVEL 1;
COMP "MictorUnten_evenPOD<6>" LOCATE = SITE "AN4" LEVEL 1;
COMP "MictorUnten_evenPOD<7>" LOCATE = SITE "AJ8" LEVEL 1;
COMP "MictorUnten_evenPOD<8>" LOCATE = SITE "AP4" LEVEL 1;
COMP "MictorUnten_evenPOD<9>" LOCATE = SITE "AM8" LEVEL 1;
COMP "DP1<10>" LOCATE = SITE "AB4" LEVEL 1;
COMP "DP1<11>" LOCATE = SITE "AB5" LEVEL 1;
COMP "DP1<12>" LOCATE = SITE "AG4" LEVEL 1;
COMP "DP1<13>" LOCATE = SITE "AG6" LEVEL 1;
COMP "DP1<14>" LOCATE = SITE "AF3" LEVEL 1;
COMP "DP1<15>" LOCATE = SITE "AD5" LEVEL 1;
COMP "DP2<10>" LOCATE = SITE "AH6" LEVEL 1;
COMP "DP2<11>" LOCATE = SITE "AG2" LEVEL 1;
COMP "DP2<12>" LOCATE = SITE "AL1" LEVEL 1;
COMP "DP2<13>" LOCATE = SITE "AL2" LEVEL 1;
COMP "DP2<14>" LOCATE = SITE "AL3" LEVEL 1;
COMP "DP2<15>" LOCATE = SITE "AJ4" LEVEL 1;
COMP "DQ1<10>" LOCATE = SITE "H6" LEVEL 1;
COMP "DQ1<11>" LOCATE = SITE "H4" LEVEL 1;
COMP "DQ1<12>" LOCATE = SITE "N5" LEVEL 1;
COMP "DQ1<13>" LOCATE = SITE "N4" LEVEL 1;
COMP "DQ1<14>" LOCATE = SITE "N3" LEVEL 1;
COMP "DQ1<15>" LOCATE = SITE "L7" LEVEL 1;
COMP "DQ2<10>" LOCATE = SITE "D2" LEVEL 1;
COMP "DQ2<11>" LOCATE = SITE "D1" LEVEL 1;
COMP "DQ2<12>" LOCATE = SITE "H2" LEVEL 1;
COMP "DQ2<13>" LOCATE = SITE "G6" LEVEL 1;
COMP "DQ2<14>" LOCATE = SITE "H5" LEVEL 1;
COMP "DQ2<15>" LOCATE = SITE "F1" LEVEL 1;
COMP "AudioL_Out" LOCATE = SITE "AG12" LEVEL 1;
COMP "AudioR_Out" LOCATE = SITE "AG13" LEVEL 1;
COMP "pca9564_reset" LOCATE = SITE "AN12" LEVEL 1;
COMP "OE_a1" LOCATE = SITE "AD1" LEVEL 1;
COMP "OE_b1" LOCATE = SITE "J8" LEVEL 1;
NET "clock_ip_IBUFG1" BEL "clock_ip_IBUFG_BUFG.GCLKMUX" USELOCALCONNECT;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
