#!/bin/bash
source ~/.bash_profile

export POWER_DIR=REPLACE_POWER_DIR

export WORK_DIR=${POWER_DIR}/POWER_WORK

export MODELSIM_PROJECT_DIR=${POWER_DIR}/ModelSim_Project

export CPU_DIR=${POWER_DIR}/CPU

